:root {
  --main-color: rgb(162, 38, 92);
  --secondary-color: rgb(244, 244, 244);
  --shadow-color: rgb(237, 169, 201);
}

header {
  background-color: var(--main-color);
  text-align: center;
  padding-top: 20px;
  width: 800px;
}

body {
  background-color: var(--secondary-color);
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  line-height: 2;
}

h1 {
  color: white;
  text-transform: uppercase;
  margin-top: 0px;
  padding-bottom: 20px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
}

.container {
  max-width: 800px;
  padding: 50px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 10px 10px var(--shadow-color);
}

h2 {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: blue;
  font-style: italic;
}

a:hover {
  color: red;
  cursor: pointer;
}

table {
  border: 2px solid black;
  width: 40%;
  table-layout: auto;
  text-align: center;
  border-spacing: 0;
}

thead {
  background-color: var(--shadow-color);
}

input {
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid black;
}

.input {
  height: 40px;
  margin: 10px 0;
}

.message {
  height: 80px;
}

.submit {
  background-color: var(--shadow-color);
  color: var(--secondary-color);
  font-weight: bold;
  width: 20%;
  height: 30px;
  border: none;
  margin-top: 10px;
}

.submit:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
